---
import { iconToSvelteIcon } from '../data/icon';
import { Icon } from '../data/prop-subtypes';

export type Props = {
    icon?: Icon,
    href?: string,
    color?: string,
    hoverColor?: string,
    w: string,
    h: string,
}

const {
    href = "https://twitter.com/elonmusk",
    icon = Icon.Twitter,
    color = "var(--hgc-black)",
    hoverColor = "var(--hgc-accent)",
    w,
    h,
} = Astro.props

const SvelteIcon = iconToSvelteIcon(icon)
---
<a target="#" href={href}>
    <div 
        style={`color: ${color}; width: ${w}; height: ${h}`}
        class={`hover:text-[${hoverColor}]`}>
        <SvelteIcon />
    </div>
</a>